.flight-details {
  padding-top: $header-height;

  .fd-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "side-bar content";
    padding: 20px;
    background: rgba(0, 0, 0, 0.15);
  }

  .side-bar {
    grid-area: side-bar;
    //background: $app-background-color;
    padding: 10px 10px;

    .stops {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          font-size: 18px;
        }
      }
    }
  }


  .pri.ce {
    font-size: 30px;
    font-weight: bold;
  }

  .dur {
    font-size: 12px;
  }

  .content.grid-1 {
    grid-area: content;
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-areas: " details-holder .";
  }

  .content.grid-2 {
    grid-area: content;
    display: grid;
    grid-template-columns: 45% 45% 1fr;
    grid-template-areas: "details-holder  details-holder-1 .";
  }

  .content {
    text-align: center;
    padding-bottom: 100px;

    .box {
      margin-top: 20px;
      transition: all .3s ease-in-out;
      z-index: 1000;

      &:hover {
        transform: scale(1.05);
        background: skyblue;
      }

      &.active {
        background: lime;
        transform: scale(1.05);
      }
    }

    .ordes {
      padding: 10px;
      font-size: 26px;
      background: $app-background-color;
      color: white;
    }

    .details {
      grid-area: details;
      display: grid;
      grid-template-columns: 10% 25% 15% 25% 25%;
      grid-template-areas:
        "img dep dur arr pri";
    }

    margin: 10px 0;
  }
}

.selectedFlights {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: teal;
  color: white;

  .sf-container {
    padding: 20px;
  }

  .sf-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". onward return total checkout";
  }

  .checkout {
    button {
      background: orangered;
      color: black;
      font-size: 18px;
      border: 0;
      border-radius: 6px;
      box-shadow: 0 8px 10px black;
      padding: 6px 20px;
      transition: all .3s ease-in-out;
      outline: none;
      color: white;
      text-shadow: 0 0px 6px black;

      &:hover {
        box-shadow: 0 0 10px black;
      }
    }
  }
}