.Home {
  padding-top: $header-height;
  display: block;

  .jumbotron {
    padding: 0px;
    background: url(../../Images/flight.jpg);

    .flight-form {
      padding: 0;
    }

    .grid {
      background: rgba(0, 0, 0, .3);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 360px 10%;
      grid-template-areas: ". . . . form .";
    }

    .form {
      grid-area: form;
      margin: 70px 0;
      border-radius: 6px;
      box-shadow: 0 0 10px white;

      .form-title {
        padding: 20px;
        background: $app-background-color;
        color: $app-light;
        font-size: 18px;
        margin-bottom: 20px;
      }

      .container {
        padding-top: 10px;

        button,
        input,
        input:focus,
        input:active {
          outline: none;
        }

        .form-control {
          padding: 21px 10px 20px;
        }

        .field-icon {
          background: white;
          padding: 0 8px;
          border-radius: 4px 0 0 4px;
        }
      }
    }
  }

  .places {
    padding-bottom: 60px;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 1fr 45% 45% 1fr;
    grid-template-areas:
      ". caption caption ."
      ". sub-cap sub-cap ."
      ". pImage0 pImage1 ."
      ". pImage2 pImage3 .";

    .pImage {
      height: 300px;
    }
  }

  .places-to-visit {
    padding-top: 20px;
    background: $dark-purple;
    color: white;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: 1fr 30% 30% 30% 1fr;
    grid-template-areas:
      ". caption caption caption ."
      ". sub-cap sub-cap sub-cap ."
      ". pImage0 pImage1 pImage2 ."
      ". pImage3 pImage4 pImage5 ."
      ". pImage6 pImage7 pImage8 ."
      ". pImage9 pImage10 pImage11 ."
      ". pImage12 pImage13 pImage14 .";

    .pImage {
      height: 150px;
    }
  }

  .pImage {
    margin: 10px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .overlay {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    bottom: -90%;
    left: 0;
    right: 0;
    top: 0;
    transition: all .3s ease-in-out;

    .over-cont {
      display: none;
      color: white;
    }

    &:hover {
      background: rgba(0, 0, 0, .3);
      bottom: 0%;

      .over-cont {
        display: block;
      }
    }
  }

  .caption {
    grid-area: caption;
    text-align: center;
    font-weight: bold;
  }

  .sub-cap {
    grid-area: sub-cap;
    text-align: center;
    padding-bottom: 30px;
  }

  @for $i from 0 through 20 {
    .pImage#{$i} {
      grid-area: pImage#{$i};
    }
  }
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 30% 30% 30% 1fr;
  grid-template-areas:
    ". tag-line tag-line tag-line ."
    ". sub-cap sub-cap sub-cap ."
    ". reasons reasons reasons .";
}

// app-container
.app-container {
  padding: 30px 0 100px;
  text-align: center;

  .tag-line {
    grid-area: tag-line;
    font-size: 28px;
    text-align: center;
    padding-top: 50px;
  }

  .reasons {
    grid-area: reasons;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 30% 30% 30% 1fr;
    grid-template-areas:
      ". r-1 r-2 r-3 .";

    &>div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px;
      width: 350px;
      height: 350px;
      border-radius: 50%;
      background: teal;
      box-shadow: 0 0 15px black;
      padding: 30px;
      color: white;

      h3 {
        font-size: 26px;
        font-weight: 600;
        color: white;
        padding: 10px 2px;
      }

      small {
        font-size: 16px;
      }
    }
  }

  .r-1 {
    grid-area: r-1;
  }

  .r-2 {
    grid-area: r-2;
  }

  .r-3 {
    grid-area: r-3;
  }
}