@import url("https://fonts.googleapis.com/css?family=Amaranth:400,700|Chewy|Grand+Hotel|Handlee|Istok+Web:400,700|Monda:400,700|Play:400,700|Righteous|Work+Sans:500,700");
/********************************************************
                      COLORS config  
********************************************************/
/********************************************************
                      Fonts  
********************************************************/
/********************************************************
                      button Style  
********************************************************/
.btn {
  position: relative; }

.nc {
  padding: 10px; }

.primary-btn {
  padding: 8px 20px;
  border: 1px solid gray;
  box-shadow: 0 0 5px black;
  border-radius: 6px; }

.btn-bottom {
  top: 20px; }

/********************************************************
                      App config  
********************************************************/
/**
Grid
**/
.img {
  grid-area: img; }

.dep {
  grid-area: dep; }

.dur {
  grid-area: dur; }

.arr {
  grid-area: arr; }

.pri {
  grid-area: pri; }

.details-holder {
  grid-area: details-holder; }

.details-holder-1 {
  grid-area: details-holder-1; }

.onward {
  grid-area: onward; }

.return {
  grid-area: return; }

.total {
  grid-area: total; }

.checkout {
  grid-area: checkout; }

.ticket-details {
  grid-area: ticket-details; }

.payments {
  grid-area: payments; }

body {
  background: white;
  margin: 0;
  padding: 0; }

.cell-img img {
  width: 100px; }

.link {
  color: white;
  text-decoration: none; }
  .link:hover {
    color: white;
    text-decoration: none; }

.app-footer {
  display: grid;
  height: 400px;
  border-radius: 0 !important; }
  .app-footer .app-container {
    background: #0b3c5b;
    border-radius: 0 !important; }

.top-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  line-height: 80px; }
  .top-menu li {
    margin: 0 10px; }
    .top-menu li a {
      color: #ffffff; }

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.tada, .switch-wrapper, .switch-wrapper > div {
  -webkit-animation-name: tada;
  animation-name: tada; }

.switch-wrapper {
  position: relative; }

.switch-wrapper > div {
  position: absolute;
  width: 100%; }

.flight-bar {
  padding: 0px 40px 30px;
  margin-top: 30px;
  display: flex;
  background: white;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .flight-bar div {
    margin: 0 5px;
    color: black; }
    .flight-bar div .form-field {
      width: 200px; }

.x {
  z-index: 10000;
  background: #2bc0e23b;
  color: #222;
  height: 100px;
  font-family: "Amaranth", sans-serif;
  position: fixed;
  display: flex;
  box-shadow: 0 1px 1px #47b3dc4a;
  width: 100%; }

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: teal;
  height: 100vh; }
  .top-container > div {
    background: red; }
  .top-container input[type=text],
  .top-container input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; }
  .top-container button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px; }
  .top-container button:hover {
    opacity: 0.8; }
  .top-container .cancelbtn {
    width: 160px;
    font-size: 16px;
    padding: 10px 18px;
    background-color: #f44336; }
  .top-container .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0; }
  .top-container img.avatar {
    width: 40%;
    border-radius: 50%; }
  .top-container .container {
    padding: 16px;
    width: 100%; }
  .top-container span.psw {
    float: right;
    padding-top: 16px; }

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none; }
  .cancelbtn {
    width: 160px; } }

.Home {
  padding-top: 80px;
  display: block; }
  .Home .jumbotron {
    padding: 0px;
    background: url(../../Images/flight.jpg); }
    .Home .jumbotron .flight-form {
      padding: 0; }
    .Home .jumbotron .grid {
      background: rgba(0, 0, 0, 0.3);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 360px 10%;
      grid-template-areas: ". . . . form ."; }
    .Home .jumbotron .form {
      grid-area: form;
      margin: 70px 0;
      border-radius: 6px;
      box-shadow: 0 0 10px white; }
      .Home .jumbotron .form .form-title {
        padding: 20px;
        background: #0b3c5b;
        color: #ffffff;
        font-size: 18px;
        margin-bottom: 20px; }
      .Home .jumbotron .form .container {
        padding-top: 10px; }
        .Home .jumbotron .form .container button,
        .Home .jumbotron .form .container input,
        .Home .jumbotron .form .container input:focus,
        .Home .jumbotron .form .container input:active {
          outline: none; }
        .Home .jumbotron .form .container .form-control {
          padding: 21px 10px 20px; }
        .Home .jumbotron .form .container .field-icon {
          background: white;
          padding: 0 8px;
          border-radius: 4px 0 0 4px; }
  .Home .places {
    padding-bottom: 60px; }
  .Home .grid-2 {
    display: grid;
    grid-template-columns: 1fr 45% 45% 1fr;
    grid-template-areas: ". caption caption ." ". sub-cap sub-cap ." ". pImage0 pImage1 ." ". pImage2 pImage3 ."; }
    .Home .grid-2 .pImage {
      height: 300px; }
  .Home .places-to-visit {
    padding-top: 20px;
    background: #232135;
    color: white; }
  .Home .grid-3 {
    display: grid;
    grid-template-columns: 1fr 30% 30% 30% 1fr;
    grid-template-areas: ". caption caption caption ." ". sub-cap sub-cap sub-cap ." ". pImage0 pImage1 pImage2 ." ". pImage3 pImage4 pImage5 ." ". pImage6 pImage7 pImage8 ." ". pImage9 pImage10 pImage11 ." ". pImage12 pImage13 pImage14 ."; }
    .Home .grid-3 .pImage {
      height: 150px; }
  .Home .pImage {
    margin: 10px;
    position: relative;
    overflow: hidden; }
    .Home .pImage img {
      width: 100%;
      height: 100%; }
  .Home .overlay {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    background: rgba(0, 0, 0, 0);
    bottom: -90%;
    left: 0;
    right: 0;
    top: 0;
    transition: all .3s ease-in-out; }
    .Home .overlay .over-cont {
      display: none;
      color: white; }
    .Home .overlay:hover {
      background: rgba(0, 0, 0, 0.3);
      bottom: 0%; }
      .Home .overlay:hover .over-cont {
        display: block; }
  .Home .caption {
    grid-area: caption;
    text-align: center;
    font-weight: bold; }
  .Home .sub-cap {
    grid-area: sub-cap;
    text-align: center;
    padding-bottom: 30px; }
  .Home .pImage0 {
    grid-area: pImage0; }
  .Home .pImage1 {
    grid-area: pImage1; }
  .Home .pImage2 {
    grid-area: pImage2; }
  .Home .pImage3 {
    grid-area: pImage3; }
  .Home .pImage4 {
    grid-area: pImage4; }
  .Home .pImage5 {
    grid-area: pImage5; }
  .Home .pImage6 {
    grid-area: pImage6; }
  .Home .pImage7 {
    grid-area: pImage7; }
  .Home .pImage8 {
    grid-area: pImage8; }
  .Home .pImage9 {
    grid-area: pImage9; }
  .Home .pImage10 {
    grid-area: pImage10; }
  .Home .pImage11 {
    grid-area: pImage11; }
  .Home .pImage12 {
    grid-area: pImage12; }
  .Home .pImage13 {
    grid-area: pImage13; }
  .Home .pImage14 {
    grid-area: pImage14; }
  .Home .pImage15 {
    grid-area: pImage15; }
  .Home .pImage16 {
    grid-area: pImage16; }
  .Home .pImage17 {
    grid-area: pImage17; }
  .Home .pImage18 {
    grid-area: pImage18; }
  .Home .pImage19 {
    grid-area: pImage19; }
  .Home .pImage20 {
    grid-area: pImage20; }

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 30% 30% 30% 1fr;
  grid-template-areas: ". tag-line tag-line tag-line ." ". sub-cap sub-cap sub-cap ." ". reasons reasons reasons ."; }

.app-container {
  padding: 30px 0 100px;
  text-align: center; }
  .app-container .tag-line {
    grid-area: tag-line;
    font-size: 28px;
    text-align: center;
    padding-top: 50px; }
  .app-container .reasons {
    grid-area: reasons;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 30% 30% 30% 1fr;
    grid-template-areas: ". r-1 r-2 r-3 ."; }
    .app-container .reasons > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 10px;
      width: 350px;
      height: 350px;
      border-radius: 50%;
      background: teal;
      box-shadow: 0 0 15px black;
      padding: 30px;
      color: white; }
      .app-container .reasons > div h3 {
        font-size: 26px;
        font-weight: 600;
        color: white;
        padding: 10px 2px; }
      .app-container .reasons > div small {
        font-size: 16px; }
  .app-container .r-1 {
    grid-area: r-1; }
  .app-container .r-2 {
    grid-area: r-2; }
  .app-container .r-3 {
    grid-area: r-3; }

.flight-details {
  padding-top: 80px; }
  .flight-details .fd-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "side-bar content";
    padding: 20px;
    background: rgba(0, 0, 0, 0.15); }
  .flight-details .side-bar {
    grid-area: side-bar;
    padding: 10px 10px; }
    .flight-details .side-bar .stops ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .flight-details .side-bar .stops ul li {
        font-size: 18px; }
  .flight-details .pri.ce {
    font-size: 30px;
    font-weight: bold; }
  .flight-details .dur {
    font-size: 12px; }
  .flight-details .content.grid-1 {
    grid-area: content;
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-template-areas: " details-holder ."; }
  .flight-details .content.grid-2 {
    grid-area: content;
    display: grid;
    grid-template-columns: 45% 45% 1fr;
    grid-template-areas: "details-holder  details-holder-1 ."; }
  .flight-details .content {
    text-align: center;
    padding-bottom: 100px;
    margin: 10px 0; }
    .flight-details .content .box {
      margin-top: 20px;
      transition: all .3s ease-in-out;
      z-index: 1000; }
      .flight-details .content .box:hover {
        transform: scale(1.05);
        background: skyblue; }
      .flight-details .content .box.active {
        background: lime;
        transform: scale(1.05); }
    .flight-details .content .ordes {
      padding: 10px;
      font-size: 26px;
      background: #0b3c5b;
      color: white; }
    .flight-details .content .details {
      grid-area: details;
      display: grid;
      grid-template-columns: 10% 25% 15% 25% 25%;
      grid-template-areas: "img dep dur arr pri"; }

.selectedFlights {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: teal;
  color: white; }
  .selectedFlights .sf-container {
    padding: 20px; }
  .selectedFlights .sf-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". onward return total checkout"; }
  .selectedFlights .checkout button {
    background: orangered;
    color: black;
    font-size: 18px;
    border: 0;
    border-radius: 6px;
    box-shadow: 0 8px 10px black;
    padding: 6px 20px;
    transition: all .3s ease-in-out;
    outline: none;
    color: white;
    text-shadow: 0 0px 6px black; }
    .selectedFlights .checkout button:hover {
      box-shadow: 0 0 10px black; }

.checkout {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 50% 30% 1fr;
  grid-template-areas: ". ticket-details payments .";
  margin: 20px auto; }

/*
    App Features
*/
body {
  background: #fff;
  font-family: "Monda", sans-serif; }

.padded-container {
  padding: 10px; }

.theme-1 {
  margin: 0;
  padding: 0;
  height: 100%;
  display: block; }
  .theme-1 .banner {
    width: 100%;
    height: 100vh;
    background: url(../../Images/light-banner.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .theme-1 .banner .cover {
      height: 100%;
      width: 100%;
      background: rgba(114, 141, 184, 0.44);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .theme-1 .banner .cover .banner-heading {
        font-size: 5em;
        color: white;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.5), 3px 3px white; }
  .theme-1 .header {
    z-index: 10000;
    background: #0b3c5b;
    color: #ffffff;
    height: 80px;
    font-family: "Amaranth", sans-serif;
    position: fixed;
    display: flex;
    width: 100%; }
    .theme-1 .header .logo {
      display: inline-block;
      font-size: 26px;
      padding: 0px 30px;
      line-height: 80px;
      flex-grow: 1; }
      .theme-1 .header .logo .logo-img {
        display: inline-block;
        height: 80px;
        float: left;
        clear: both; }
        .theme-1 .header .logo .logo-img img {
          height: 100%; }
      .theme-1 .header .logo a {
        color: #303030; }
  .theme-1 .container {
    display: block; }
  .theme-1 .banner-img {
    height: 580px;
    width: 100%;
    border-bottom: 4px solid red;
    box-shadow: 0 5px 10px gray;
    margin-bottom: 2px; }
    .theme-1 .banner-img img {
      width: 100%;
      height: 100%; }
  @media only screen and (max-width: 960px) {
    .theme-1 .header {
      height: 60px; }
      .theme-1 .header .log {
        line-height: 60px;
        font-size: 20px; }
        .theme-1 .header .log .logo-img {
          display: inline-block;
          height: 60px; } }
